header {
  background-color:#ebeae8 ;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end; // ESto alinea los enlaces hacia la derecha
    flex-grow: 1; // Hace que los enlaces ocupen todo el espacio disponible

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        display: inline; // Pone los enlaces en línea horizontal
        margin-right: 20px; // Espacio entre los enlaces

        a {
          text-decoration: none;
          color: black;
          transition: color 0.3s ease;

          &.highlight {
            background-color: #ff6600;
          }

          &:hover {
            color: #ff6600; 
          }
        }
      }
    }
  }

  .logo {
    img {
      width: 100px; // Esto puede cambiar
      height: auto; 
      margin-right: 20px; // Espacio entre la imagen y los enlaces del menú
    }
  }
}
